name: CI / Testing / Deployment

on:
  push:
    branches:
      - master
    tags:
      - '!refs/tags/*'
  pull_request:
    branches:
      - master

env:
  BUILD_TYPE: Debug
  LD_LIBRARY_PATH: /usr/lib/llvm-9/lib
  GH_USERNAME: ${{ secrets.GH_USERNAME }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  GPG_DECRYPT_PASSPHRASE: ${{ secrets.GPG_DECRYPT_PASSPHRASE }}
  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

jobs:
  build-graphics:
    name: 'Cross-Compile Build (All)'
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11.0.5'
          architecture: x64

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Add LLVM gpg key
        run: wget -qO - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -

      - name: Add LLVM toolchain to sources.list.d
        run: echo 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main' | sudo tee -a /etc/apt/sources.list.d/llvm.list

      - name: Add ubuntu toolchain ppa
        run: sudo add-apt-repository ppa:ubuntu-toolchain-r/test

      - name: Update the package cache
        run: sudo apt update

      - name: Install required packages
        run: sudo apt install gnupg2 mingw-w64 autoconf-archive llvm-9 llvm-9-dev clang-9 gcc-7 g++-7 gcc-multilib g++-multilib libssl1.0-dev

      - name: Add clang-9 path to /usr/local/bin
        run: sudo ln -s /usr/bin/clang-9 /usr/local/bin/clang && sudo ln -s /usr/bin/clang++-9 /usr/local/bin/clang++

      - name: Install third-party dependencies
        run: scripts/install-deps-bin.sh

      - name: Import GPG key
        run: scripts/gh-import-gpg.sh

      - name: Build Project (Java + Native)
        run: mvn install -Dcompile.native=true -Dgraphics.target=native-build-cc-all -Dinput.target=native-build-cc-all -Dbuild.type=${BUILD_TYPE} -Dlicense.skipUpdateLicense=true -DskipTests=true -Dmaven.javadoc.skip=true -B -V --settings scripts/gh-settings.xml --file pom.xml

      - name: Unit Test
        run: mvn test

      - name: Integration Test
        run: mvn verify

      - name: Deploy snapshots to Sonatype
        if: github.event_name != 'pull_request' && github.event_name != 'release'
        run: mvn deploy -P'deploy-sonatype' -Dmaven.antrun.skip=true -DskipTests=true -Dlicense.skipUpdateLicense=true --settings scripts/gh-settings.xml